{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %} 

<!-- Page Overlay -->
 <div class="page-overlay hidden" id="pageOverlay"></div>

<!-- Center Panel -->
<div class="main-content p-0">
  <!-- Top Menu -->
  <ul class="nav nav-tabs d-flex p-0" id="mainTabs">
    <li class="nav-item">
      <button class="nav-link active" onclick="switchTab('dashboard')">Dashboard</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" onclick="switchTab('dataViewer')">Data Viewer</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" onclick="switchTab('settings')">Settings</button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content p-3">

    <!-- DASHBOARD -->
    <div id="dashboard" class="tab-pane active">
      <h2>Dashboard</h2>
      <hr>

      <!-- Mode Selector -->
      <div>
        <h3>Fan Mode</h3>

        <div class="btn-group btn-group-lg" role="group">
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Smart</button>
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Power</button>
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Comfort</button>
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Manual</button>
        </div>


      </div>

      <hr>
      <!-- Input Fields -->
      <div class="sum">
        <!-- RPM -->
        <h3>RPM Control:</h3>


        <div class="btn-group mb-3 p-1" role="toolbar">
          <h4>Min</h4>
          <input type="number" min="0" class="form-control" placeholder="Minimum RPM" id="minRpm">

          <h4>Max</h4>
          <input type="number" min="0" class="form-control" placeholder="Maximum RPM" id="maxRpm">

        </div>

        <!-- Temp -->
        <h3>Temperature Control:</h3>

        <div>
            <input type="number" min="0" class="form-control" placeholder="Desired Temperature" id="dTemp">
        </div>

        <!-- Input -->
        <h3>Input Control:</h3>
        
        <div class="btn-group btn-group-lg" role="group">
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Computer & Remote</button>
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Computer only</button>
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Remote only</button>
          <button type="button" class="btn btn-secondary" onclick="callPython('task1')">Disabled</button>
        </div>


      </div>

      <hr>

      <!-- Mini Dashboard Charts -->
      <div class="chart-grid">
        <div class="chart-card"><canvas id="chart1"></canvas></div>
        <div class="chart-card"><canvas id="chart2"></canvas></div>
        <div class="chart-card"><canvas id="chart3"></canvas></div>
      </div>
    </div>

    <!-- DATA VIEWER -->

    <div id="dataViewer" class="tab-pane d-none">

      <!-- Header Field w/ buttons (File, Import, Export, del, new, etc.) -->
      <div>
        <h2>Data Viewer</h2>


      </div>

      <hr>
      <!-- CHARTS -->
       <div class="chart-grid">
        <div class="chart-card"><canvas id="chart1"></canvas></div>
        <div class="chart-card"><canvas id="chart2"></canvas></div>
        <div class="chart-card"><canvas id="chart3"></canvas></div>
      </div>
      <button onclick="callPython('task2')">Run Task 2</button>

    </div>

    <!-- SETTINGS -->

    <div id="settings" class="tab-pane d-none">
      <h2>Settings</h2>
      <hr>


      <button onclick="callPython('task3')">Run Task 3</button>
    </div>
  </div>
</div>

<!-- Right Side Info Panel -->
<div class="side-panel">
  <h4 class="text-center">Status: Unpaired</h4>
  <div class="fan-icon"></div>
  <h4 class="text-center">Battery: 0%</h4>
  <h4 class="text-center">Temperature: 0°</h4>
  <h4 class="text-center">Humidity: 0</h4>
  <h4 class="text-center">RPM: 0</h4>

  <div class="event-viewer">

    <div class="event-bar">
      <h4>Event Viewer</h4>
    </div>

    <div id="event-logs">

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}

<script>

  /*
  GENERAL CRAP I DON'T CARE TO LABEL
  */
    // web socket
    const socket = io();
    
    // to check if we are paired, hidden flag
    let isConnected = false;

    // disables the global transparent layer
    function disableOverlay() {
    document.getElementById("pageOverlay").classList.add("hidden");
    }

    // switches tabs in the main content
    function switchTab(tabId) {
    document.querySelectorAll('.tab-pane').forEach(p => {
        p.classList.add('d-none');
        p.classList.remove('active');
    });

    document.getElementById(tabId).classList.remove('d-none');
    document.getElementById(tabId).classList.add('active');

    // update active button
    document.querySelectorAll('.nav-link').forEach(btn => btn.classList.remove('active'));
    event.target.classList.add('active');
    }

    /*
    EVENT LOGS MANAGER
    */

    // add a new log to the event logs
    function addEvent(message) {
        const eventViewer = document.getElementById("event-logs");

        const time = new Date().toLocaleTimeString();

        if (eventViewer.children.length > 25) {
            eventViewer.removeChild(eventViewer.lastChild);
        }

        const line = document.createElement("div");
        line.textContent = `[${time}] > ${message.msg}`;

        eventViewer.appendChild(line);

        // auto-scroll to bottom
        eventViewer.scrollTop = eventViewer.scrollHeight;
    }

    /*
    FIELDS & INPUT MANAGER
    */

    const minRpmInput = document.getElementById("minRpm");
    const maxRpmInput = document.getElementById("maxRpm");

    minRpmInput.addEventListener("input", function () {
      const rpm_field = Number(minRpmInput.value);
      if(rpm_field < 0) 
      {
        minRpmInput.value = 0;
      }
      else if(rpm_field > 80)
      {
        minRpmInput.value = 80;
      }
    });

    maxRpmInput.addEventListener("input", function () {
      const rpm_field = Number(maxRpmInput.value);
      if(rpm_field < 0) 
      {
        maxRpmInput.value = 0;
      }
      else if(rpm_field > 80)
      {
        maxRpmInput.value = 80;
      }
    });

    /*
    CHARTS & INFO
    */

    // chart wrapper, makes it easier to create & manage charts
    function createChart(canvasId, label, labels, data, color, type = 'line') {
    const ctx = document.getElementById(canvasId).getContext('2d');

    return new Chart(ctx, {
        type: type,
        data: {
            labels: labels,
            datasets: [{
                label: label,
                data: data,
                backgroundColor: color + '80',
                borderColor: color,
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              y: {
                grid: {
                  color: 'rgba(255, 255, 255, 0.2)' // Changes Y-axis grid lines to light red
                }
              },
              x: {
                grid: {
                  color: '#FFFFFF' // Changes X-axis grid lines to light grey
                }
              }
            }
        }
    });
    }

    // list of charts, to keep track of updating
    const charts = {};

    // create charts- uwu
    charts.chart1 = createChart('chart1', 'Temperature', ['12:00', '12:01', '12:02', '12:03'], [10, 20, 30, 15], '#2563eb');
    charts.chart2 = createChart('chart2', 'Humidity', ['12:00', '12:01', '12:02', '12:03'], [5, 15, 25, 10], '#16a34a');
    charts.chart3 = createChart('chart3', 'Wind Speed', ['12:00', '12:01', '12:02', '12:03'], [12, 18, 22, 8], '#ef4444');

    // function to update charts, believe it or not
    function updateChart(chartName, newData) {
    charts[chartName].data.datasets[0].data = newData;
    charts[chartName].update();
    }

    /*
    BACKEND COMMUNICATION
    */
   
    // function connected to python
    function callPython(taskName) {
    fetch('/run-task', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ task: taskName })
    })
    .then(res => res.json())
    .then(data => {
        alert("Python says: " + data.result);
    })
    .catch(err => console.error(err));
    }

    
    // web socket connector
    socket.on('run_js', (data) => {
      console.log(data.msg);
        addEvent(data);
    });
    
</script>

{% endblock %}